

@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="table-responsive">
    <table class="table table-bordered table-dark table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Placa</th>
                <th>Dueño</th>
                <th>Marca</th>
            </tr>
        </thead>
        <tbody>
            foreach (var item in Model)
            {
            <tr>
                <td>item.IdVehiculo</td>
                <td>item.Placa</td>
                <td>item.Dueno</td>
                <td>item.Marca</td>
            </tr>
            }
        </tbody>
    </table>
</div>
    -->
